@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>ระบบขายสินค้า</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>จัดทำโดย</h2>
        <p>
            วัชรากร เต็นภูษา
        </p>
    </div>


</div>